<span ng-show='loading' us-spinner="spinnerOptions"></span>
<ng-include src="'partials/header.html'" ng-controller="HeaderCtrl"></ng-include>
<div id="meeting">
	<div id="scheduler">
		<div id="scheduleSidebar">

			<div id="sidebar">
				<div id="meetingInfo">
					<p id="meetingInfoText"> {{displayDate}}
						<br>
						{{meetingname}}
					</p>
				</div>

				<div>
					<p id="textLeft">{{displayTime}}</p>
				</div>

				<script type="text/ng-template" id="list.html">
					<ul id="itemlist" dnd-list="modules">
						<li ng-model="modules" ng-repeat="module in modules"
							dnd-draggable="module"
							dnd-effect-allowed="move"
							dnd-moved="onMove({{$index}})"
							dnd-dragstart="logEvent('Started to drag {{$index}}', event)"
							dnd-selected="selected = module"
							ng-class="{selected: selected === module}"
							ng-include="'item.html'"
							ng-click="changeActiveModule(module)">
						</li>
					</ul>
				</script>

				<script type="text/ng-template" id="item.html">
					<div class="module" ng-style="{ 'background-color':getColor(module), 'border-style':getModuleBorder(module)}">
						<p class="modStart">{{module.start}}</p>
						<p class="modDuration">{{module.length}}</p>
						<button type="button" class="btn-danger" id="removeModule" ng-click="removeModule(module)" ng-hide="isNotOwner()">
							<div class="glyphicon glyphicon-minus iconstyle modicons"></div>
						</button>
						<p class="eventText">{{module.name}}</p>
						<p class="modEnd">{{module.end}}</p>

					</div>
				</script>

				<div id="listOfEvents" class="dropzone">

					<div ng-include="'list.html'"></div>

				</div>
				<div id="addEvent" ng-if="isOwner()">
					<button type="button" id="addEventButton" class="btn-success" ng-click="createAgendaModule()">
						<div class="glyphicon glyphicon-plus iconstyle particons"></div>
					</button>
				</div>


				<div id="endTime">
					<p class="textRight">{{endTime}}</p>
				</div>
			</div>
		</div>
	</div>

	<div id="editer">
		<div id="editmeeting">
			<div id="meetinginformation">
				<div id="meetingname">
					<input id="meetingtitle" class="form-control" type="text" placeholder='{{meetingnameplaceholder}}' ng-model="meetingname" ng-hide="isNotOwner()">
					<h2 id="guestmeetingtitle" ng-hide="isOwner()">{{meetingname}}</h2>
				</div>
				<div id="meetingtime">
					<div id="date">
						<p class="infodesc">Date:</p>
						<div class="form-horizontal" id="datehorizontal" ng-hide="isNotOwner()">
							<div class="input-group">
								<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="date" ng-click="open()" is-open="opened" ng-required="true" close-text="Close" />

              <span class="input-group-btn">
              <button class="btn btn-default" ng-click="open()">
				  <i class="icon-calendar"></i></button>
              </span>
							</div>
						</div>
						<p class="infodesc" ng-hide="isOwner()">{{displayDate}}</p>
					</div>
					<div id="starttime">
						<p class="infodesc">Start Time:</p>
                <span class="btn btn-default" uib-dropdown auto-close="outsideClick" ng-hide="isNotOwner()" >
                  <a href uib-dropdown-toggle>
					  {{ displayTime }} <i class="glyphicon glyphicon-time"></i>
				  </a>
                  <ul class="uib-dropdown-menu">
					  <li>
						  <uib-timepicker ng-model="date" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>
					  </li>
				  </ul>
                </span>
						<p class="infodesc" ng-hide="isOwner()">{{displayTime}}</p>
					</div>
				</div>
			</div>
			<div id="meetingcontent">
				<div id="participants">
					<div id="members">
						<h3 id="inviteheadline">Invited</h3>
						<div id="memberlist">
							<div ng-repeat="participant in participants" class="participantdiv">
								<div class="participantnamediv">
									<p class="participant">{{participant}}</p>
								</div>
								<button type="button" class="btn-danger" id="removeButton" ng-click="removeParticipant(participant)" ng-hide="isNotOwner()">
									<div class="glyphicon glyphicon-minus iconstyle particons"></div>
								</button>
							</div>
							<div id="addDiv" ng-hide="isNotOwner()">
								<input class="form-control" id="invitation" name="inviteUsename" type="text" placeholder='{{invitingplaceholder}}'  ng-model="inviting">
								<button ng-click="addParticipant()" type="button" id="addButton" class="btn-success">
									<div class="glyphicon glyphicon-plus iconstyle particons"></div>
								</button>
							</div>
						</div>
					</div>
					<div id="confirmagenda" ng-hide="isNotOwner()">
						<button type="button" class="btn btn-success confirmbutton" ng-click="submitAgenda()" ng-disabled="agendaButtonDisabled()">
							Confirm agenda
						</button>
					</div>
				</div>
				<div id="editpart" ng-model="editing" ng-show="isEditing()" ng-hide="isNotEditing()" ng-style="{ 'background-color':getActiveColor()}">
					<div id="parttitle">
						<p class="edittext"> Title: </p>
						<input class="form-control" ng-model="entertitle" id="edittitle" type="text" placeholder='{{entertitleplaceholder}}' ng-hide="isNotOwner()">
						<p class="edittext" ng-hide="isOwner()">{{getModuleName()}}</p>
					</div>
					<div id="partduration">
						<p class="edittext">Duration:</p>
						<input class="form-control" id="duration" type="number" min="{{durationmin}}" placeholder='{{durationplaceholder}}' ng-model="duration" ng-hide="isNotOwner()">
						<p class="edittext" ng-hide="isOwner()">{{getDuration()}}</p>
						<p class="edittext">min</p>
					</div>
					<div id="partcategory">
						<p class="edittext">Category:</p>
						<select class="form-control" id="editcategory" ng-model="category" ng-options="type as type.Label for type in types" ng-hide="isNotOwner()"></select>
						<p class="edittext" ng-hide="isOwner()">{{getCategory()}}</p>
					</div>
					<div id="partdescription">
						<textarea class="form-control" id="description" ng-model="description" placeholder="{{descriptionplaceholder}}" ng-hide="isNotOwner()" />
						<div id="guestdescription" ng-hide="isOwner()">{{getDescription()}}
						</div>
					</div>

					<div id="closedetails" ng-hide="isOwner()">
						<button type="button" class="btn btn-success confirmbutton" ng-click="closeDetails()">
							Close
						</button>
					</div>

					<div id="cancelediting" ng-hide="isNotOwner()">
						<button type="button" class="btn btn-danger" ng-click="cancelChanges()">
							Cancel editing
						</button>
					</div>

					<div id="confirmediting" ng-hide="isNotOwner()">
						<button type="button" class="btn btn-success confirmbutton" ng-click="addModule()" ng-disabled="editButtonDisabled()">
							Confirm editing
						</button>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
