<ng-include src="'partials/header.html'" ng-controller="HeaderCtrl"></ng-include>

<div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-1 changedays">
				<button id="prevweek" type="button" class="btn btn-primary" ng-click="prevweek()">
					<<</button>
						<button id="prevday" type="button" class="btn btn-primary" ng-click="prevday()">
							<</button>
			</div>
			<div id="cal">

			</div>

			<div class="col-md-1 changedays">
				<button id="nextday" type="button" class="btn btn-primary" ng-click="nextday()">></button>
				<button id="nextweek" type="button" class="btn btn-primary" ng-click="nextweek()">>></button>
			</div>
		</div>
	</div>
</div>