<ng-include src="'partials/header.html'" ng-controller="HeaderCtrl"></ng-include>

<div id="calendarmain">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-1 changedays">
				<button id="prevweek" type="button" class="btn btn-primary" ng-click="prevweek()">
					<<</button>
						<button id="prevday" type="button" class="btn btn-primary" ng-click="prevday()">
							<</button>
			</div>
			<div id="cal">

				<div class="col-md-2">
					<div class="panel panel-default day" id="day1">
						<div class="panel-heading">{{day1}}</div>
						<div class="panel-body" compile="dayschedule1"></div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="panel panel-default day" id="day2">
						<div class="panel-heading">{{day2}}</div>
						<div class="panel-body" compile="dayschedule2"></div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="panel panel-default day" id="day3">
						<div class="panel-heading">{{day3}}</div>
						<div class="panel-body" data-ng-bind-html="dayschedule3"></div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="panel panel-default  day" id="day4">
						<div class="panel-heading">{{day4}}</div>
						<div class="panel-body" data-ng-bind-html="dayschedule4"></div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="panel panel-default day" id="day5">
						<div class="panel-heading">{{day5}}</div>
						<div class="panel-body" data-ng-bind-html="dayschedule5"></div>
					</div>

				</div>
				<p id="addmeetingtext">Add meeting</p>
				<button type="button" id="addmeeting" class="btn btn-primary" ng-click="toAgenda(false)">
					<div class="glyphicon glyphicon-plus iconstyle particons"></div>
				</button>
				<div class="col-md-1 changedays">
					<button id="nextday" type="button" class="btn btn-primary" ng-click="nextday()">></button>
					<button id="nextweek" type="button" class="btn btn-primary" ng-click="nextweek()">>></button>
				</div>
			</div>
		</div>
	</div>