<div id="editmeeting">
    <div id="meetinginfo">
        <div id="meetingname">

        </div>
        <div id="meetingtime">
            <div id="date">

            </div>
            <div id="starttime">

            </div>
        </div>
    </div>
    <div id="meetingcontent">
        <div id="participants">

            <button type="button" class="btn btn-success">
                Confirm agenda
            </button>
        </div>
        <div id="editpart">
            <div id="parttitle">

            </div>
            <div id="partduration">

            </div>
            <div id="partcategory">

            </div>
            <div id="partdescription">

            </div>
            <button type="button" class="btn btn-success">
                Confirm editing
            </button>
        </div>
    </div>

</div>