<div class="jumbotron" id="header" ng-controller="HeaderCtrl">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-1">
				<button id="previouspagebtn" type="button" class="btn btn-primary" ng-click="previouspage()">Back</button>
			</div>
			<div class="col-md-3"></div>
			<div class="col-md-4 text-center">
				<h2 ng-model="user">Welcome {{user}}!</h2>
			</div>
			<div class="col-md-3"></div>
			<div class="col-md-1">
				<button id="logoutbtn" type="button" class="btn btn-primary" ng-click="logout()">Log out</button>
			</div>
		</div>
	</div>
</div>