<!--<div class="jumbotron" id="header" ng-controller="HeaderCtrl">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-3">
			</div>
			<div class="col-md-4 text-center">
				<h2 id="welcomeUser" ng-model="user">Welcome {{user}}!</h2>
			</div>
			<div class="col-md-3"></div>
			<div class="col-md-1">
				<button id="logoutbtn" type="button" class="btn btn-primary" ng-click="logout()">Log out</button>
			</div>
		</div>
	</div>
</div>-->
<nav class="navbar navbar-default navbar-static-top" id="agendanavbar" ng-controller="HeaderCtrl">
	<div class="container-fluid">
		<div class="navbar-header">
			<a id="headericon" href="#/calendar"><img src="homeicon.png" alt="HeaderIcon"></a>
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="#/calendar" class="navbar-brand navbar-link" id="navbarhead">AGENDA PLANNER</a>
			<div id="weather" ng-controller="WeatherCtrl">
				<p class="headerweather">{{weatherLocation}}</p>
				<img id="weatherpicheader" ng-src="{{weatherPic}}" alt="Description" />
				<p class="headerweather">{{temperature}}°C</p>
				<span ng-show='wheatherLoading' us-spinner="spinnerOptions"></span>
			</div>
		</div>

		<div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><p class="navbar-text">Welcome {{user}}!</p> </li>
				<li><a href="#/calendar" class="navbar-link">My Calendar <span class="sr-only">(current)</span></a></li>
				<li><a id="logoutbtn" class="navbar-link" ng-click="logout()">Log out <span class="sr-only">(current)</span></a></li>
			</ul>
		</div>
	</div>
</nav>