<div id="homemain" ng-controller="HomeCtrl">
    <div id="homeicondiv">
    <img src="homeicon.png" alt="HomeIcon" id="homeicon">
        <h1 id="homeheadline">AGENDA PLANNER</h1>
    </div>
    <div>
        <div id="loginbox">
            <span ng-show='loading' us-spinner="spinnerOptions"></span>
            <h2 id="loginheadline">LOGIN</h2>
            <input class="form-control" id="inputusername" name="username" type="text" placeholder='{{usernameplaceholder}}'  ng-model="username">
            <input class="form-control" id="inputpassword" name="password" type="password" placeholder='{{passwordplaceholder}}'  ng-model="password">
            <p id="nonmatchinglogin" ng-model="nonmatchingLogin" ng-show="getNonmatchingLogin()">* Username and password do not match</p>
            <div class="horizontalbuttons">
                <button type="button" class="btn-primary btn-md" id="loginButton" ng-click="login()">
                    LOGIN
                </button>
                <a href="/#register">
                    <button type="button" class="btn-primary btn-md" id="registerButton">
                        REGISTER
                    </button>
                </a>
            </div>
        </div>
    </div>
    <div id="weather">
        <h3 class="weatherText">{{weatherLocation}}</h3>
        <img id="weatherpic" ng-src="{{weatherPic}}" alt="Description" />
        <p class="weatherText" id="temp">{{temperature}}°C</p>
        <p class="weatherText">{{weatherDescription}}</p>
        <span ng-show='wheatherLoading' us-spinner="spinnerOptions"></span>
    </div>
</div>
<div id="services" class="pad-section">
    <div class="container">
        <h2 class="text-center">Features</h2> <hr />
        <div class="row text-center">
            <div class="mainfeatures col-sm-3 col-xs-6">
                <i class="glyphicon glyphicon-home"> </i>
                <h4>Store your Account Information</h4>
                <p>With a safe login you may store all your meeting agendas in a consistent way.</p>
            </div>
            <div class="mainfeatures col-sm-3 col-xs-6">
                <i class="glyphicon glyphicon-calendar"> </i>
                <h4>Calendar Overview</h4>
                <p>In the Calendar Overview you can get a quick overview of all the meetings you are participating in.</p>
            </div>
            <div class="mainfeatures col-sm-3 col-xs-6">
                <i class="glyphicon glyphicon-plus"> </i>
                <h4>Create Meeting Agenda</h4>
                <p>Create a new meeting agenda for your next upcoming meeting. Define the whole schedule as you like!</p>
            </div>
            <div class="mainfeatures col-sm-3 col-xs-6">
                <i class="glyphicon glyphicon-user"> </i>
                <h4>Invite Users</h4>
                <p>Invite anyone you like to to participate in your meetings!</p>
            </div>
        </div>
    </div>
</div>