<div id="homemain" ng-controller="RegisterCtrl">
    <div id="homeicondiv">
        <img src="homeicon.png" alt="HomeIcon" id="homeicon">
        <h1 id="homeheadline">AGENDA PLANNER</h1>
    </div>
    <div id="registerbox">
        <h2 class="homeformheadline">REGISTER</h2>
        <h4>Username:</h4>
        <input class="form-control registerinput" name="username" type="text" ng-model="username">
        <h4>Password:</h4>
        <input class="form-control registerinput" name="password" type="password" ng-model="password">
        <h4>Confirm Password:</h4>
        <input class="form-control registerinput" name="password" type="password" ng-model="confirmpassword">
        <div class="horizontalbuttons">
                <button type="button" class="btn-primary btn-md" id="registerButton" ng-click="register()">
                    REGISTER
                </button>
        </div>
    </div>

</div>