
<div id="scheduleSidebar">

	<div id="sidebar">
		<div id="meetingInfo">
			<p id="meetingInfoText"> 1/1-70
			<br>
			Styrelsemöte
			</p>
		</div>

		<div id="startTime">
			<p class="textWhite">08:00</p>
		</div>


	
		<div id="listOfEvents" ng-bind-html="listOfEvents">
			<div id="empty">
			</div>
			<div class="event" draggable="true">
				<div id="event1">
					<p class="textWhite">08:00</p>
					<h4><p class="eventText">Intro</p></h4>
				</div>
			</div>
			<div class="event" draggable="true">
				<div id="event2">
					<p class="textWhite">08:10</p>
					<h4><p class="eventText">Idea 1</p></h4>
				</div>
			</div>
			<div class="event" draggable="true">
				<div id="event3">
					<p class="textWhite">09:00</p>
					<h4><p class="eventText">Hatt</p></h4>
				</div>
			</div>

			<div id="addEventButton">
            <button type="button" id="addButton" class="btn-success">
                <div class="glyphicon glyphicon-plus iconstyle"></div>
            </button>
        	</div>
            
		</div>

	
		<div id="endTime">
			<p id="textWhiteRight">10:00</p>
		</div>
	</div>	
	



</div>