<div id="scheduleSidebar">

	<div id="sidebar">
		<div id="meetingInfo">
			<p id="meetingInfoText"> {{displayDate}}
				<br>
				{{meetingname}}
			</p>
		</div>

		<div id="startTime">
			<p class="textWhite">{{displayTime}}</p>
		</div>

		<script type="text/ng-template" id="list.html">
			<ul dnd-list="modules">
				<li ng-model="modules" ng-repeat="module in modules"
					dnd-draggable="module"
					dnd-effect-allowed="move"
					dnd-moved="onMove({{$index}})"
					dnd-dragstart="logEvent('Started to drag {{$index}}', event)"
					dnd-selected="selected = module"
					ng-class="{selected: selected === module}"
					ng-include="'item.html'"
					ng-click="changeActiveModule(module)">
				</li>
			</ul>
		</script>

		<script type="text/ng-template" id="item.html">
			<div class="module">
					<p class="textWhite">{{module.start}}</p>
					<p class="eventText">{{module.name}}</p>
					<p class="textWhite">{{module.end}}</p>
			</div>
		</script>

		<div id="listOfEvents" class="dropzone">

				<div ng-include="'list.html'"></div>

		</div>
		<div id="addEvent" ng-if="isOwner()">
			<button type="button" id="addEventButton" class="btn-success" ng-click="createAgendaModule()">
				<div class="glyphicon glyphicon-plus iconstyle particons"></div>
			</button>
		</div>


		<div id="endTime">
			<p id="textWhiteRight">{{endTime}}</p>
		</div>
	</div>




</div>
